@media (max-width: 780px) {
    .about-partners__item:first-child {
        display: none;
    }

    .about-partners__content {
        grid-template-columns: repeat(auto-fit, minmax(150px, 300px));
    }
}

@media (max-width: 760px) {

    /*hero*/
    .hero__picture-wrapper {
        position: relative;
        align-items: center;
        width: 100%;
        right: 0;
    }

    .hero__picture {
        width: 100%;
    }

    .hero__picture-wrapper .hero__button {
        display: none;
    }

    .hero__content .hero__button {
        display: flex;
        flex-direction: column-reverse;
        text-align: center;
        gap: 9px;
    }

    .hero__description {
        flex-direction: column-reverse;
        padding: 27px 20px;
        margin-top: 25px;
        margin-bottom: 0;
        align-items: center;
    }

    .hero__description p {
        margin-top: 0;
        width: 100%;
    }

    .hero__description-content span {
        color: rgba(240, 171, 0, 1);
        font-size: 12px;
        line-height: 24px;
    }

    /*conditions*/
    .conditions__info {
        flex-direction: column;
        align-items: center;
        gap: 26px;
    }

    .conditions__info img {
        width: 21px;
        height: 21px;
    }

    .conditions__info .hero__button {
        flex-direction: column-reverse;
        text-align: center;
        gap: 9px;
    }


}

@media (max-width: 700px) {

    /*conditions*/
    .conditions__description {
        grid-template-columns: 1fr;
    }

    /*stages*/
    .timeline__event {
        flex-direction: column;
        text-wrap: wrap;
    }

    .person-card:nth-child(2) {
        display: none;

    }

    /*mentors*/
    .mentors__cards {
        grid-template-columns: 1fr;
    }

    .mentors__statistics-content {
        flex-direction: column;
        align-items: center;

    }

    /*project-team*/
    .project-team__members {
        grid-template-columns: 1fr;
    }

    /*footer*/
    .footer__contacts-wrapper {
        gap: 23px;
    }

    .footer__contacts {
        flex-direction: column;
        gap: 35px;
    }

    .footer__contact {
        text-align: center;
    }

    .footer__info {
        flex-direction: column;
        align-items: center;
    }

}

@media (max-width: 560px) {

    /*common*/
    h1 {
        font-size: 30px;
    }

    h2 {
        font-size: 26px;
        padding: 0 20px;
    }


    /*hero*/
    .hero__title {
        padding: 0 20px;
        text-align: center;
    }

    /*conditions*/
    .conditions__description {
        padding: 40px 20px;
    }

    .conditions__image {
        padding: 40px 20px;
    }

    .conditions__content {
        gap: 0;
    }

    /*directions*/
    .directions__content-wrapper {
        padding: 0 20px;
    }


    /*header*/
    .header {
        margin: 0 20px;
    }

    .logo {
        width: 148px;
        height: 36px;
    }

    .sk-logo {
        width: 50px;
        height: 36px;
    }

    /*hero*/
    .hero__title p {
        font-size: 16px;
        line-height: 22px;
        width: 100%;
    }

    .hero__description p {
        height: 170px;
        overflow: hidden;
    }

    .hero__description-content span {
        display: block;
    }

    /*participation*/
    .participation {
        margin-top: 50px;
    }

    .participation__content {
        align-items: center;
        padding: 0 20px;
    }

    .participation__content-1 .participation__item:last-child {
        display: none;
    }

    .participation__content-2 {
        display: none;
    }

    .participation .carousel {
        margin-top: 0;
        display: flex;
    }

    .participation__content-1 .participation__item:first-child {
        flex-direction: column;
        align-items: center;
        padding: 24px;
    }

    /*directions*/
    .direction {
        padding: 25px;
    }

    .direction:last-child {
        height: 130px;
        box-sizing: border-box;
    }

    .direction__inscriptions {
        left: 10%;
    }

    .direction__title-plus {
        width: 30px;
        height: 30px;
    }

    .direction__title-minus {
        width: 30px;
        height: 30px;
    }

    .direction__title-plus span:last-child {
        top: 35%;
        height: 10px;
    }

    /*mentors*/
    .mentors__content {
        padding: 0 20px
    }


    /*goals*/
    .goals {
        margin-bottom: 300px;
        padding: 0 20px;
    }

    .goals__content-item:first-child .goals__list-line {
        height: 120px;
    }

    /*about-partners*/
    .about-partners__content {
        padding: 0 20px;
    }

    /*timeline*/
    .timeline__event {
        font-size: 16px;
        line-height: 22px;
    }

    .timeline__date {
        font-size: 14px;
        line-height: 22px;
    }

    .project-team__content {
        padding: 0 20px;
    }

    /*documents*/
    .documents__item:nth-child(2) {
        display: none;
    }

    .documents__content {
        display: block;
        width: 100%;
        box-sizing: border-box;
        padding: 0 20px;
    }

    /*sponsors*/
    .sponsors .organizations .organization:nth-child(2) {
        display: none;
    }

    .sponsors .organizations {
        grid-template-columns: 1fr;
    }

    .sponsors .carousel {
        display: flex;
    }

    .sponsors {
        padding-bottom: 40px;
    }

    .organizations {
        padding: 0 20px;
    }

    /*partners*/
    .partners .organization {
        width: 100%;
        height: 100%;
        max-height: 80px;
    }

    .partners .organization img {
        max-width: 80%;
        max-height: 80%;
    }

    /*footer*/

    .footer__content {
        padding: 0 20px;
    }
}


