@media (max-width: 1354px) {

    /*common*/
    .documents__content,
    .organizations,
    .participation__content,
    .footer__content,
    .mentors__content,
    .directions__content-wrapper,
    .timeline__content,
    .conditions__description,
    .hero__description,
    .hero__title {
        padding: 0 40px;
    }

    h2 {
        padding: 0 40px;
    }

    .header, video {
        margin: 0 40px;
    }

    .conditions h2, .directions h2 {
        padding: 0;
    }

    /*about-partners*/
    .about-partners__item:last-child {
        display: none;
    }

    .about-partners .carousel {
        display: flex;
    }

    /*mentors*/
    .mentors__cards {
        grid-template-columns: repeat(2, 1fr);
    }

    /*project-team*/
    .project-team__members .person-card:last-child {
        display: none;
    }

    .project-team__members {
        grid-template-columns: repeat(3, 1fr);
    }

}

@media (max-width: 1218px) {

    /*header*/
    .burger-icon {
        display: flex;
    }

    .header__items {
        display: none;
    }

    .menu-popup .header__items {
        display: flex;
        flex-direction: column;
        gap: 25px;
    }

    .menu-popup .footer__contacts {
        align-items: flex-start;
        gap: 17px;
    }

    .menu-popup .footer__contact {
        text-align: left;
        gap: 17px;
        text-wrap: nowrap;
    }

    .menu-popup .hero__button {
        margin-bottom: 30px;
    }
}

@media (max-width: 1184px) {

    h1 {
        width: 100%;
    }

    /*hero*/
    .hero__title p {
        width: 340px;
    }

    .hero__picture-wrapper .hero__button {
        display: flex;
        flex-direction: column;
        z-index: 2;
        gap: 24px;
    }

    .hero__picture-wrapper {
        right: 34px;
        top: 30%;
    }

    .hero__description .hero__button {
        display: none;
    }

    .hero__picture {
        width: 340px;
        height: 280px;
        padding: 20px;
    }

    .hero__picture img {

        width: 206px;
        height: 247px;
    }

    .hero__inscriptions-1, .hero__inscriptions span:first-child {
        font-size: 100px;
        line-height: 85px;
    }

    .hero__inscriptions span:last-child {
        font-size: 40px;
    }

    /*about-partners*/
    .about-partners {
        padding-bottom: 65px;
    }

    /*goals*/
    .goals {
        padding: 0 40px;
        box-sizing: border-box;
        margin-bottom: 180px;
    }

    .goals h2 {
        text-align: center;
    }

    .goals__image {
        position: relative;
        top: 0;
        width: 100%;
        height: 200px;

    }

    .goals__image img {
        width: 100%;
        max-width: 178px;
    }

    .goals__content {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        left: 0;
        top: 60%;
        height: 315px;
    }

    .goals__list-item {
        flex-direction: column;
        align-items: center;
        min-width: min-content;
        height: 100%;
    }


    .goals__content-item {
        align-items: flex-end;

    }

    .goals__content-item:first-child .goals__list-line {
        height: 100px;
    }

    .goals__content-item:nth-child(2) .goals__list-eclipse,
    .goals__content-item:nth-child(3) .goals__list-eclipse {
        display: none;
    }

    .goals__list-eclipse {
        width: 11px;
        height: 11px;
    }

    .goals__list-text {
        border-bottom-left-radius: 10%;
        border-bottom-right-radius: 200px;
        padding: 10px;
    }

    .goals__list-text span {
        font-size: 16px;
        display: block;
    }

    .goals__list-line {
        width: 1px;
        height: 100%;
    }

    /*participation*/

    .participation h2 {
        width: max-content;
    }

    .participation {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .participation__content {
        flex-direction: column;
    }

    .participation__content-2 {
        flex-direction: column;
    }

    .participation__content-2 .participation__item:last-child {
        display: flex;
        flex-direction: row-reverse;
    }

    .participation__item span {
        writing-mode: horizontal-tb;
    }

    /*directions*/
    .directions {
        margin-bottom: 60px;
    }

    .directions__content {
        display: flex;
        flex-direction: column;
    }

    .direction__inscriptions {
        margin: 0;
        left: 40%;
        bottom: 0;
    }

    .direction {
        padding: 50px;
    }

    .direction:last-child img {
        left: 50%;
        width: 82px;
        height: 110px;
    }

    .direction__inscriptions span {
        font-size: 54px;
        line-height: 29px;
    }

    .direction__inscriptions span:last-child {
        display: none;
    }

    /*stages*/
    .stages {
        padding: 0;
        width: max-content;
        gap: 44px;
        margin-bottom: 72px;
    }

    .stages h2 {
        text-align: center;
        margin-top: 0;
    }

    .timeline__content {
        display: flex;
        flex-direction: column;
        width: 100%;
        margin: 0;
    }

    .timeline {
        align-items: center;
        justify-content: center;
        padding: 0;
        width: max-content;
    }

    .timeline__line {
        width: 4px;
        height: 88%;
        left: 0px;
        top: 26%;
        transform: translateY(-30%);
    }

    .timeline__progress {
        width: 4px;
        height: 28%;
    }

    .timeline__marker {
        left: -15px;
        top: 28%;
        transform: translateY(-50%) rotate(90deg);
        transition: top 0.3s ease-in-out;
    }

    .timeline__item {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        gap: 0;
        margin-bottom: 20px;
        position: relative;
        width: 100%;
    }

    .timeline__date {
        text-wrap: nowrap;
    }

    .timeline__event {
        flex-direction: row;
        gap: 5px;
        text-wrap: nowrap;
        flex: 1;
        border-radius: 8px;
        margin-top: 0;
    }

    /*mentors*/
    .mentors__cards .person-card:not(:nth-child(1),:nth-child(2)),
    .mentors__bg {
        display: none;
    }

    .mentors__cards {
        grid-template-columns: repeat(2, 290px);
    }

    .mentors h2 {
        width: max-content;
        margin: 40px 0;
    }

    .mentors__content {
        flex-direction: column;
        align-items: center;
        margin-bottom: 72px;
    }

    .mentors__statistics-content {
        flex-direction: row;
        width: 100%;
        justify-content: center;
        margin-bottom: 53px;
        gap: 35px;
    }

    .mentors__statistics-content div {
        width: 220px;
        text-align: center;
    }

    .mentors .carousel {
        display: flex;
    }

    /*project-team*/
    .project-team__members .person-card:nth-child(3) {
        display: none;
    }

    .project-team__members {
        grid-template-columns: repeat(2, 1fr);
    }

    .project-team {
        background-color: rgba(245, 245, 245, 1);
    }

    .project-team__content {
        flex-direction: column;
        gap: 0;
    }

    .project-team .arrow-circle {
        display: none;
    }

    .project-team h2 {
        width: max-content;
        margin-top: 0;
    }

    .person-card {
        padding: 50px 65px 28px 65px;
        box-sizing: border-box;
    }

    .project-team .carousel {
        display: flex;
    }

    /*documents*/
    .documents {
        padding: 0;
    }

    .documents h2 {
        width: max-content;
        margin-top: 60px;
        margin-bottom: 35px;
    }

    .documents__content {
        grid-template-columns: repeat(2, 1fr);
    }

    .documents__item:last-child {
        display: none;
    }

    .documents .carousel {
        display: flex;
        margin-bottom: 63px;
    }

    /*sponsors*/
    .sponsors h2 {
        width: max-content;
        margin-top: 60px;
    }

    .organizations {
        grid-template-columns: repeat(3, 1fr);
    }

    .organization:last-child {
        display: none;
    }

    /*partners*/
    .partners {
        margin: 0 34px;
        padding: 0;
    }

    .partners h2 {
        width: max-content;

    }

    .partners .arrow-circle {
        display: none;
    }

    .partners .carousel {
        display: flex;
        margin-bottom: 64px;
    }

    .partners__content {
        flex-direction: column;
        gap: 0;
    }

    /*footer*/
    .footer__contacts-wrapper {
        flex-direction: column;
        align-items: center;
        gap: 46px;
    }

    .footer__content {
        gap: 43px;
        margin-top: 0;
    }

}

@media (max-width: 1024px) {

    /*common*/
    h1 {
        font-size: 40px;
        line-height: 40px;
    }

    h2 {
        font-size: 32px;
        line-height: 32px;
    }

    /*header*/
    .logo {
        width: 174px;
        height: 42px;
    }

    .sk-logo {
        width: 58px;
        height: 42px;
    }

    /*hero*/
    .hero {
        margin-bottom: 0;
    }

    .hero__title p {
        line-height: 30px;
    }

    .hero__picture-wrapper {
        top: 15%;
    }

    .hero__description {
        margin-bottom: 110px;
    }

    .hero__description p {
        width: 340px;
        font-size: 15px;
        line-height: 24px;
        margin-top: 51px;
    }

    .video {
        display: none;
    }

    /*about-partners*/
    .about-partners h2 {
        width: max-content;
        margin-top: 60px;
    }

    .about-partners__statistics {
        display: none;
    }

    .about-partners__item {
        padding: 25px;
    }

    .about-partners__item p {
        font-size: 14px;
        line-height: 22px;
        height: 168px;
    }

    .about-partners__item:nth-child(3) {
        display: none;
    }

    .about-partners .carousel__item:last-child {
        display: block;
    }

    /*goals*/
    .goals__content-item p {
        font-size: 14px;
        line-height: 24px;
    }


    /*participation*/
    .participation {
        margin-bottom: 63px;
    }

    .participation__item li {
        font-size: 15px;
        line-height: 24px;
    }


    .participation__item h3 {
        font-size: 22px;
        line-height: 32px;
    }

    .participation__item p {
        font-size: 15px;
        line-height: 24px;
    }

    .participation__item img {
        width: 70px;
        height: 70px;
    }

    /*conditions*/
    .conditions {
        height: 100%;
    }

    .conditions__content {
        position: static;
    }

    .conditions__image {
        padding: 50px 40px 42px 40px;
    }

    .conditions__image p {

    }

    .conditions__description {
        grid-template-columns: 1fr 1fr;
        padding-bottom: 40px;
    }

    .conditions__description-item {
    }

    /*directions*/
    .directions h2 {
        margin-top: 0;
    }

    .direction:first-child h3 {
        font-size: 20px;
        line-height: 20px;
    }

    .direction:last-child h3 {
        font-size: 24px;
        line-height: 20px;
    }

    .direction:first-child p {
        font-size: 15px;
        line-height: 24px;
        margin-top: 24px;
    }

    /*stages*/
    .timeline__date {
        font-size: 17px;
    }

    /*mentors*/
    .mentors__statistics-content span {
        font-size: 24px;
    }

    .mentors__statistics-content p {
        font-size: 15px;
        line-height: 24px;
    }

    /*documents*/
    .documents__item p {
        font-size: 16px;
        line-height: 22px;
    }

    .documents__item {
        padding: 22px 20px 20px 25px;
        height: 130px;
    }

    /*footer*/
    .footer__content {
        margin-top: 60px;
    }

    .footer__content h2 {
        margin-top: 0;
    }

    .footer__contact:first-child span:first-child {
        font-size: 12px;
    }

    .footer__contact:first-child span:last-child {
        font-size: 16px;
        line-height: 22px;
    }

    .footer__mail {
        font-size: 14px;
    }

    .footer__number {
        font-size: 24px;
        line-height: 22px;
    }

    .footer__contact {
        gap: 5px;
    }

    .footer__info {
        gap: 5px;
    }

    .footer__info a {
        font-size: 12px;
    }

}

@media (max-width: 940px) {
    .organization:nth-child(3) {
        display: none;
    }

    .organizations {
        grid-template-columns: repeat(2, 1fr);
    }
}